[submodule "texthooker"]
	path = texthooker
	url = https://github.com/youyoumu/gsm-texthooker-ui.git
	branch = main
[submodule "GameSentenceMiner/owocr"]
	path = GameSentenceMiner/owocr
	url = https://github.com/youyoumu/gsm_owocr.git
	branch = master
[submodule "GSM_Overlay"]
	path = GSM_Overlay
	url = https://github.com/youyoumu/GSM_Overlay
	branch = master
